.center{
    display:flex;
    align-items: center;
    text-align: center;
    height: 100vh;
    flex-direction: column;
    margin-top: 20px;
}

.sidebar{
    position:fixed;
    top:0;
    left: 0;
    width: 200px;
    height:100vh;
    background-color: #d3def1;
    color: white;
    padding: 20px;
    box-sizing: border-box;
}